#!/bin/sh

#suggesting export this config file path to global variable

BASHRC=~/.bashrc
CONDA_DIR=~/bin
PIPELINE_DIR=/home/hiiluann99/ITD-pipeline # need to change
TOOLS=$PIPELINE_DIR/utility/utility.sh
READ_SAMPLE_SHEET=$PIPELINE_DIR/utility/read_sample_sheet.sh
PARTITION=$PIPELINE_DIR/utility/partition.sh
BANNER_SH=$PIPELINE_DIR/utility/banner.sh

THREAD=28

# Genomon-ITDetector Parameter
GENOMON_ITD_ENV=master-genomonITD # need to change
GENOMON_ITD_DIR=$PIPELINE_DIR/tools/GenomonITDetector38
GENOME_REF=$GENOMON_ITD_DIR/GRCh38.d1.vd1.fa
GENOMON_ITD_CONFIG=$PIPELINE_DIR/config/config.env

# Pindel Parameter
PINDEL_ENV="master-pindel" # need to change
SAMTOOLS_ENV="master-genomonITD" # need to change

PINDEL_SLICE_CHROM=$PIPELINE_DIR/database/pindel_slice_chrom.txt
PINDEL_LENGTH=250 
PINDEL_FILTERING_CONFIG=$PIPELINE_DIR/database/somatic.indel.filter.config
SOMATIC_INDEL_FILTER=$PIPELINE_DIR/scripts/somatic_indelfilter.pl

# ScanITD Parameter
SCANITD_ENV=master-scanITD # need to change
SCANITD_DIR=$PIPELINE_DIR/tools/ScanITD
SCANITD_BED_FILE=$SCANITD_DIR/Bed_file/chromosome_beds
SCANITD_SLICE_CHROM=$PIPELINE_DIR/database/scanITD_slice_chrom.txt
