#!/bin/sh

# Current working directory
cwd=/home/data/data_Jeffery/ITDtest.new
cd ${cwd}
pipeline_path=/home/data/data_Jeffery/ITD-detection/script/ITD_pipeline

# Create directories if they do not exist
mkdir -p download slicebam result genomon_ITD pindel scanITD tmp config tmp/genomon_ITD tmp/pindel tmp/scanITD

#slice chr
chr=(chr4 chr5 chr6 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chr20 chr21 chr22 chrX chrY)
chr_pq=(chr1 chr2 chr3 chr7)
#slice ID
slice_ID=(chr1p chr1q chr2p chr2q chr3p chr3q chr4 chr5 chr6 chr7p chr7q chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chr20 chr21 chr22 chrX chrY)

# Reference genome path
ref=/home/data/data_Jeffery/ITD-detection/GenomonITDetector38/GRCh38.d1.vd1.fa

# Load aliases and environment variables
shopt -s expand_aliases
source /home/Jeffery/.bashrc
eval "$(conda shell.bash hook)"

############### ITD-pipeline ###############
############### Genomon-ITDetector ###############
#
export LD_LIBRARY_PATH=/home/Jeffery/miniconda3/envs/GenomonITD/lib/:$LD_LIBRARY_PATH
#
path_to_GenomonITDetector38=/home/data/data_Jeffery/ITD-detection/GenomonITDetector38

############### Pindel ###############
#
path_to_filter_config=/home/data/data_Jeffery/ITD-detection/script/ITD_pipeline/somatic.indel.filter.config
#
path_to_somatic_indelfilter=/home/Jeffery/miniconda3/envs/Pindel/somatic_indelfilter.pl

############### ScanITD ###############
#
ScanITD_bed_file=/home/data/data_Jeffery/ITD-detection/ScanITD/Bed_file/chromosome_beds
#
path_to_ScanITD=/home/data/data_Jeffery/ITD-detection/ScanITD

############### ITD-filter ###############
#
filter_path=/home/data/data_Jeffery/ITD-detection/script/ITD_pipeline
